<!-- aside -->
<div class="col-sm-3">
  <h4>categories</h4>
  <ul class="blog-aside-ul">
    {{#each blogCategories}}
      <li><a href={{concatCategory this}}>{{this}}</a></li>
    {{/each}}
  </ul>
</div>
