<!-- footer -->
        <footer>
         	<div class="container-fluid">
         		<a href="#page-top" class="back-to-top"><h3>cd ~ <span class="glyphicon glyphicon-arrow-up"></span></h3></a>
                <div class="row">
                    <div class="col-md-5 copyright">
                        <p>&#169; 2016 Robert Bethencourt All Rights Reserved</p>
                    </div>
                    <div class="col-md-7">
                        <ul class="social-networks-ul list-inline">
                        	<li><a href="https://github.com/robbethencourt" target="_blank" class="github-button">github</a></li>
                        	<li><a href="https://www.linkedin.com/in/robert-bethencourt-13425316" target="_blank" class="linkedin-button">linkedIn</a></li>
                            <!--
                        	<li><a href="" class="stackoverflow-button">stackoverflow</a></li>
                            -->
                            <li><a href="https://twitter.com/rob_bethencourt" target="_blank" class="twitter-button">twitter</a></li>
                            <li><a href="http://letterboxd.com/Meat_Deer/" target="_blank" class="letterboxd-button">letterboxd</a></li>
                            <!--
                            <li><a href="" class="instagram-button">instagram</a></li>
                            -->
                            <li><a href="https://www.facebook.com/robert.bethencourt" target="_blank" class="facebook-button">facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="javascript/scripts.js"></script>
	
	</body>
</html>