<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Rob Bethencourt's portfolio">
		<meta name="author" content="Rob Bethencourt">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

		<title>Rob's Portfolio | {{title}}</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- My Styles -->
		<link rel="stylesheet" type="text/css" href="/css/output1.css">
	</head>
	<body id="page-top">

		<!-- nav -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
  			<div class="container">
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="/projects">rob bethencourt</a>
    			</div>
    			<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav navbar-right">
        				<li><a class="{{#if active_projects}}active{{/if}}" href="/projects">projects</a></li>
        				<li><a class="{{#if active_about}}active{{/if}}" href="/about">about</a></li>
								<li><a class="{{#if active_blog}}active{{/if}}" href="/blog">blog</a></li>
        				<li><a class="{{#if active_contact}}active{{/if}}" href="/contact">contact</a></li>
      				</ul>
    			</div>
  			</div>
		</nav>
