<!-- About Section -->
<div class="section-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-10">
				<h2>about</h2>
				<p class="article-h2-content">I'm an interactive designer / developer / enthusiast based out of Orlando, FL. I freelance design and dev work, own a transportation company with my mother and sister, and a pilates studio with my wife.</p>
			</div>
		</div>
	</div>
</div>

<!-- technology used -->
<div class="tech-used">
    <h2>my confidence level</h2>
    <p class="im-rob">// kinda like striving for perfection. can these ever really be full?</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>frontend dev</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span class="sr-only">90% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>backend dev</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>design</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                        <span class="sr-only">85% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- expanding to learn list -->
<div class="ever-expanding">
	<div class="container">
		<h2 class="text-center">ever expanding to learn list</h2>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>html</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">html 5 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
					</ul>
				</ul>
			</div>
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>css</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">responsive <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">css 3 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">sass <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">bootstrap <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">materialize <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="strike-th list-item">foundation</li>
					</ul>
				</ul>
			</div>
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>javaScript</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">vanilla <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">jQuery <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">ajax <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">handlebars <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="strike-th list-item">react</li>
						<li class="strike-th list-item">angular 2</li>
						<li class="strike-th list-item">underscore</li>
						<li class="strike-th list-item">elm</li>
					</ul>
				</ul>
			</div>
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>server side</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">firebase <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">node <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">express <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="list-item">mysql <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
						<li class="strike-th list-item">mongodb</li>
						<li class="strike-th list-item">php</li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<div class="percent-circle"><span id="list-percent"></span>&#37;</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center clear-expert">
				<h3>clearly I'm an expert&#8230;</h3>
				<p>&#8230;alright, maybe not an expert, but I do have experience building applications that use these technologies, and a drive to learn more of them. I enjoy it. And I guess that makes tackling this list an enjoyable endeavor, even as it grows with <span class="strike-th">strike throughs</span>.</p>
			</div>
		</div>
	</div>
</div>

<!-- hobbies -->
<div class="about-hobbies">
	<h2 class="text-center">hobbies?</h2>
	<p class="text-center">Yup, I've got a few</p>
	<div class="about-hobbies-row">
		<h3 class="about-hobbies-h3-bg">tennis</h3>
		<div class="row">
			<div class="container">
				<div class="col-md-6">
					<h3>tennis</h3>
					<p>I've played tennis since I was a kid and still enjoy watching and talking about the sport. It's kind of like basketball in that there's plenty of GOAT (greatest of all time) talk, which is always fun for fans. These days playing tennis helps me stay active and meet new people, but it's also mentally therapeutic and allows my mind to reset some of its wetware.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="about-hobbies-row">
		<div class="row">
			<h3 class="about-hobbies-h3-bg">meat deer</h3>
			<div class="container">
				<div class="col-md-6">
					<h3>meat deer</h3>
					<p>I write and draw Meat Deer micro stories. They're odd little tales of Meat Deer and his struggles with the people of Abilene. They're meant to be comedies, but have an odd humor to them. I haven't put them out in the wild, but maybe one day.</p>
				</div>
			</div>
			<img src="assets/images/meat-deer.png" class="meat-deer-ah" alt="Half cropped drawing of Meat Deer." />
		</div>
	</div>
	<div class="about-hobbies-row">
		<div class="row">
			<h3 class="about-hobbies-h3-bg">pilates boutique</h3>
			<div class="container">
				<div class="col-md-6">
					<h3>pilates boutique</h3>
					<p>My wife needed a web presence on a budget when she first opened her pilates studio. So I taught myself web design / front end development. Collaborating together has been a great experience for us and one I continue to cherish. You can check out her current site (it's come a long way since 2010!) by clicking the button below.</p>
					<p><a href="http://www.pilatesboutiquefl.com/" class="btn btn-lg btn-pink" target="_blank">Pilates Boutique <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="about-hobbies-row">
		<div class="row">
			<h3 class="about-hobbies-h3-bg">adult libations</h3>
			<div class="container">
				<div class="col-md-6">
					<h3>adult libations</h3>
					<p>My cooking skills are subpar. So, I needed to find some way to contribute to dinner parties. Cocktails! Yes, I keep a journal, with handwritten notes, organized with an index, and star the recipe once I've tasted that I've hit the mark. With so much daily screen time, I've come to enjoy this analog approach. But it's not all on paper, you can occasionally see some of my creations on twitter.</p>
					<p><a href="https://twitter.com/rob_bethencourt" class="btn btn-lg btn-pink" target="_blank">rob's Twitter <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
				</div>
			</div>
		</div>
	</div>
</div>