<!-- About Section -->
<div class="section-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-10">
				<h2>about</h2>
				<p class="article-h2-content">I'm an interactive designer / developer / enthusiast living in Orlando, FL. I freelance design and dev work, own a transportation company with my mother and sister and a Pilates studio with my wife.</p>
			</div>
		</div>
	</div>
</div>

<!-- technology used -->
<div class="tech-used">
    <h2>my confidence level</h2>
    <p class="tech-used-comment">// can these ever really be full?</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>frontend dev</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span class="sr-only">90% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>backend dev</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>design</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                        <span class="sr-only">85% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- expanding to learn list -->
<div class="ever-expanding">
	<div class="container">
		<h2 class="text-center">languages and technologies I've used</h2>
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>production</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">elm</li>
						<li class="list-item">javaScript</li>
						<li class="list-item">typeScript</li>
						<li class="list-item">react</li>
						<li class="list-item">node</li>
						<li class="list-item">css</li>
						<li class="list-item">coldFusion</li>
						<li class="list-item">php (wordpress)</li>
						<li class="list-item">html 5</li>
						<li class="list-item">firebase</li>
						<li class="list-item">microsoft SQL</li>
						<li class="list-item">indexedDB</li>
					</ul>
				</ul>
			</div>
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>personal projects</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">react native</li>
						<li class="list-item">ARjs</li>
						<li class="list-item">mongoDB</li>
						<li class="list-item">MySql</li>
					</ul>
				</ul>
			</div>
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>tutorials</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">rust</li>
						<li class="list-item">haskell</li>
						<li class="list-item">elixir</li>
						<li class="list-item">D3js</li>
					</ul>
				</ul>
			</div>
			<div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
				<h4>design</h4>
				<ul class="list-unstyled">
					<ul>
						<li class="list-item">pencil and paper</li>
						<li class="list-item">photoshop</li>
						<li class="list-item">illustrator</li>
						<li class="list-item">inDesign</li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<div class="percent-circle">100&#37;</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center clear-expert">
				<h3>clearly I'm an expert&#8230;</h3>
				<p>&#8230;I mean it says 100%&#8230;alright, alright, not an expert, but I do have experience building and shipping applications. I enjoy the process of taking an idea from paper through to user interaction.</p>
			</div>
		</div>
	</div>
</div>

<!-- hobbies -->
<div class="about-hobbies">
	<h2 class="text-center">hobbies?</h2>
	<p class="text-center">Yup, I've got a few</p>
	<div class="about-hobbies-row">
		<h3 class="about-hobbies-h3-bg">tennis</h3>
		<div class="row">
			<div class="container">
				<div class="col-md-6">
					<h3>tennis</h3>
					<p>I've played tennis since I was a kid and still enjoy watching and talking about the sport. It's kind of like basketball in that there's plenty of GOAT (greatest of all time) talk, which is always fun for fans. These days playing tennis helps me stay active and meet new people, but it's also mentally therapeutic and allows my mind to reset some of its wetware.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="about-hobbies-row">
		<div class="row">
			<h3 class="about-hobbies-h3-bg">movies</h3>
			<div class="container">
				<div class="col-md-6">
					<h3>movies</h3>
					<p>I've had a passion for movies since I was a kid. I grew up with the horror movies of the 80s and it's continued into a love of cinema. I collect Criterion Collection releases (mostly of the horror variety) and log all the movies I've watched on Letterboxd. I also like to create lists and organize so that social media platform is one of my favorites.</p>
					<p><a href="http://letterboxd.com/Meat_Deer/" class="btn btn-lg btn-pink" target="_blank">My Letterboxd Profile <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="about-hobbies-row">
		<div class="row">
			<h3 class="about-hobbies-h3-bg">meat deer</h3>
			<div class="container">
				<div class="col-md-6">
					<h3>meat deer</h3>
					<p>I write and draw Meat Deer micro stories. They're odd little tales of Meat Deer and his struggles with the people of Abilene. They're meant to be comedies, but have an odd humor to them. I haven't put them out in the wild, but maybe one day.</p>
				</div>
			</div>
			<img src="images/meat-deer.png" class="meat-deer-ah" alt="Half cropped drawing of Meat Deer." />
		</div>
	</div>

	<div class="about-hobbies-row">
		<div class="row">
			<h3 class="about-hobbies-h3-bg">sodas</h3>
			<div class="container">
				<div class="col-md-6">
					<h3>making sodas</h3>
					<p>My cooking skills are subpar, but I can make some delicious sodas. I got a juicer a few years back and though I'm not much into juicing, I am into making syrups and that juicer came in handy for it. It started with syrups for cocktails and expanded into sodas.</p>
					<!-- ***** perhaps I can start posting criterion movies and sodas on instagram? ***** <p><a href="https://twitter.com/rob_bethencourt" class="btn btn-lg btn-pink" target="_blank">rob's Twitter <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p> -->
				</div>
			</div>
		</div>
	</div>
</div>
