<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>alpha logistics service - admin</h2>
                <p class="article-h2-content">The admin backend we use to manage our transportation company. Redesigned in 2013 in an effort to make it more user friendly, and easier to add features to.</p>
                <h5>html / css / javaScript / elm / coldFusion</h5>
                <h5>redesigned in 2013 and continue to maintain and develop features for</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Tables No More, And So Much More</h4>
                <p>The original admin section of the Alpha Logistics website was built in the late 90s and still used tables for layout. While that's not ideal, what really was problematic was that many features had been added without attempts to orgainze them into like sections. Links were added to drop down menues and the users just knew where to look. Onboarding new personel was always challenging as navigating the admin site required trial and error.</p>
                <img src="images/alpha-admin-routes-overview-screen-only-iphone-display.jpg" alt="routes overview screenshot in iphone sized display" />
                <p>
                  By the time I started work on the redesign Smart Phones were being used by the staff. The ability to access the data in the system while walking the warehouse became a feature we could add, but we needed to restructure the content and adopt a responsive design.
                </p>
                <img src="images/alpha-admin-routes-overview-nav-visible-screen-only-iphone-display.jpg" alt="routes overview screenshot in iphone sized display with navigation showing" />
                <h4>Is The Driver Late? Now We Know</h4>
                <p>The redesign of the Routes Overview page gave the dispatcher and operations staff the ability to track late deliveries and short orders at a glance for all the drivers out making deliveries. They could then identify and solve problems and communicate accurate informatin back to customers.</p>
                <img src="images/alpha-admin-routes-overview-website-full.jpg" alt="routes overview screenshot" />
                <img src="images/alpha-admin-routes-dashboard-website-full.jpg" alt="routes dashboard screenshot" />
                <h4>Beyond Redesign and into SPA</h4>
                <p>
                  While most of the javaScript is a mix of vanilla and jQuery, new features are now added with the front end functional programming language elm. Elm's ability to drastically reduce, or all together elimiante runtime errors means we don't revisit shipped features for bugs we didn't catch in tests. Our business logic may need to be expanded or refined, but code that mysteriously fails on our users is no longer a concern.
                </p>
                <img src="images/alpha-admin-calendar-website-full.jpg" alt="alpha admin calendar screenshot" />
            </div>
        </div>
    </div>
</div>
