<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>alpha logistics service</h2>
                <p class="article-h2-content">My family business. Started by my mother and father back in 1992. Alpha operates primarily in the state of Florida, but also throughout the southeast US</p>
                <h5>html / css / design</h5>
                <h5>created 2013</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/alpha-logistics-logo-display.jpg" alt="alpha logistics logo on light and dark backgrounds" class="logo-display" />
                <h4>Logo</h4>
                <p>The original logo had two gradients that looked nice, but we wanted to simplify and minimize the color palette. We also wanted branding that could easily transfer to the web.</p>
                <img src="images/alpha-logistics-rwd-displays.jpg" alt="screenshot of the alpha logistics home page in desktop, tablet and smart phone screens" class="rwd-displays" />
                <h4>Web</h4>
                <p>The site needed an updated look, but also be responsive to multiple screen sizes.</p>
                <img src="images/alpha-logistics-website-full.jpg" alt="screen shot of the full alpha logistics home page" />
                <h4>Rewrite To Make Right</h4>
                <p>Along with the look of the site, all the content was updated to more clearly define the services Alpha Logistics offers. An entire rewrite was done to eliminate old information and update the content to be optimized for local searches. Call to action buttons were also strategically placed to try and get potential customer inquiries through the website. The focus was on presenting Alpha Logistics as a national carrier with a focus in the Florida market.</p>
                <h4>Facebook For Recruiting</h4>
                <p>A Facebook page was also created. The idea is to use it as a recruitment tool. Through Facebook, Alpha would create a contact list of carriers in other markets they could partner up with when a customer has a need in a region they don't currently service.</p>
                <p class="link-button-wrapper"><a href="http://www.als-otg.com" target="noopener" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Alpha Logistics</a></p>
            </div>
        </div>
    </div>
</div>
