<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>amoda mx</h2>
                <p class="article-h2-content">Amoda mx is a massage studio focusing on massage services in the comfort of your own home</p>
                <h5>logo / html / css</h5>
                <h5>created 2012</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/amoda-mx-logo-display.jpg" alt="" class="logo-display" />
                <h4>Logo</h4>
                <p>The purpose of the logo is to establish a recognizable color pattern and bring associations with a relaxed body after a massage.</p>
                <img src="images/amoda-mx-rwd-displays.jpg" alt="" class="rwd-displays" />
                <h4>Web</h4>
                <p>A responsive light weight design was key as most local business are now discovered by googling on your smart phone.</p>
                <img src="images/amoda-mx-website-full.jpg" alt="" class="website-full" />
                <p class="link-button-wrapper"><a href="http://www.amodamx.com" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Amoda mx</a></p>
            </div>
        </div>
    </div>
</div>