<!-- About Section -->
<div class="section-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-10">
				<h2>blog</h2>
				<p class="article-h2-content">I blog about web development, movies, cocktails, and who know what else.</p>
			</div>
		</div>
	</div>
</div>

<!-- blog -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
							{{#each blogs}}
								<div class="blog-title-container">
									<h2><a href="{{url}}">{{title}}</a></h2>
									<p class="blog-title-container__p">{{date}} | {{#each tags}}{{this}} {{#unless @last}}•{{/unless}} {{/each}}</p>
								</div>
							{{/each}}
            </div>
						{{>asideBlog stuff=stuff}}
        </div>
    </div>
</div>
