<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>bubbles</h2>
                <p class="article-h2-content">Water tracking app for Pilates Boutique that leverages some pwa features and indexedDB.</p>
                <h5>elm / typescript / css</h5>
                <h5>created 2018</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/hmsitip-logo-display.jpg" alt="" class="logo-display" />
                <h4>Logo</h4>
                <p>The logo needed to convey a sense of fun, which is what this tip app strives for with its tip list.</p>
                <div class="iphone-display clearfix">
                    <img src="images/hmsitip-home-screen-iphone-display.jpg" alt="" />
                    <img src="images/hmsitip-fly-out-nav-iphone-display.jpg" alt="" />
                    <img src="images/hmsitip-calculator-screen-iphone-display.jpg" alt="" />
                </div>
                <h4>Web</h4>
                <p>The website is meant to let users scroll through an array of possible services, save those to their favorites section, and make getting tip amounts easy to calculate and read.</p>
                <h4>Do I Really Need jQuery For This&#63;</h4>
                <p>The <a href="http://howmuchshoulditip.info/" target="_blank">HMSITIP?</a> website is a personal project of mine. I wanted to create an HTML5 web application that would run without the use of a javaScript library. All the js is vanilla, something I'm quite proud of.</p>
                <h4>Some JS Extras</h4>
                <p>The Favorites section uses Web Storage to save the services a user refers to most often, a convenient tool that lets frequent users skip the navigation, which is primarily there to help someone who is trying to find an obscure service. The entire site is also one page. The purpose of this was to minimize the need for an Internet connection and save users some bandwidth, as most often the application would be used out in public and wifi options may not be available.</p>
                <h4>I Have No Idea What To Tip</h4>
                <p>The two other goals of the <a href="http://howmuchshoulditip.info/" target="_blank">HMSITIP?</a> website are to provide a comprehensive tipping guide for services that may not be frequently used, and to make the entering and reading of the tip amounts easy. Many of these have suggested tipping percentages different from the standard 18% to 20%. The <a href="http://howmuchshoulditip.info/" target="_blank">HMSITIP?</a> website is therefore, part guide.
                <p class="link-button-wrapper"><a href="http://howmuchshoulditip.info/" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> How Much Should I Tip?</a></p>
            </div>
        </div>
    </div>
</div>
