<!-- Contact Section -->

<!-- no contact form contact section -->
<div class="section-heading contact">
    <div class="container">
        <h2 class="mail-link-h2"><a href="mailto:robert.bethencourt@gmail.com?Subject=Hello%20again" target="_top">robert.bethencourt@gmail.com</a></h2>
        <ul class="social-networks-ul list-inline">
            <li><a href="https://github.com/robbethencourt" target="_blank" class="github-button">github</a></li>
            <li><a href="https://www.linkedin.com/in/robert-bethencourt-13425316" target="_blank" class="linkedin-button">linkedIn</a></li>
            <li><a href="https://twitter.com/rob_bethencourt" target="_blank" class="twitter-button">twitter</a></li>
            <li><a href="http://letterboxd.com/Meat_Deer/" target="_blank" class="letterboxd-button">letterboxd</a></li>
            <li><a href="https://www.instagram.com/rob_bethencourt/" class="instagram-button">instagram</a></li>
            <li><a href="https://www.facebook.com/robert.bethencourt" target="_blank" class="facebook-button">facebook</a></li>
        </ul>
    </div>
</div>
