<!-- Contact Section
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <h2>Contact</h2>
                <p class="article-h2-content">Drop me a line. I'm a good listener.</p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
            <form class="contact-form">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="what's on your mind?"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-custom">Submit</button>
            </form>
        </div>
    </div>
    </div>
</div>
-->

<!-- no contact form contact section -->
<div class="section-heading contact">
    <div class="container">
        <h2 class="mail-link-h2"><a href="mailto:robert.bethencourt@gmail.com?Subject=Hello%20again" target="_top">robert.bethencourt@gmail.com</a></h2>
        <ul class="social-networks-ul list-inline">
            <li><a href="https://github.com/robbethencourt" target="_blank" class="github-button">github</a></li>
            <li><a href="https://www.linkedin.com/in/robert-bethencourt-13425316" target="_blank" class="linkedin-button">linkedIn</a></li>
            <!--
            <li><a href="" class="stackoverflow-button">stackoverflow</a></li>
            -->
            <li><a href="https://twitter.com/rob_bethencourt" target="_blank" class="twitter-button">twitter</a></li>
            <li><a href="http://letterboxd.com/Meat_Deer/" target="_blank" class="letterboxd-button">letterboxd</a></li>
            <!--
            <li><a href="" class="instagram-button">instagram</a></li>
            -->
            <li><a href="https://www.facebook.com/robert.bethencourt" target="_blank" class="facebook-button">facebook</a></li>
        </ul>
    </div>
</div>
