<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>elm breakout</h2>
                <p class="article-h2-content">Recreation of the Atari 2600 version of Breakout</p>
                <h5>elm / css</h5>
                <h5>created 2018</h5>
                <h5><a href="https://github.com/robbethencourt/elm-breakout" target="noopener">github (elm breakout)</a></h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Simple Doesn't Mean Easy</h4>
                <p>This was a fun project. I'd always wanted to create a game, and while this isn't my own game, it's one of my favorite Atari 2600 games. Probably the first game I got good at. It's an easy game to pick up and play, but not one to master.</p>
                <h4>Modeling Data with Types</h4>
                <p>
                  I'd been writing elm for a little over a year when I started this project and wasn't leveraging the type system as much as I could. This project helped me discover the power of union types and I've since ventured into other statically typed languages like Haskell.
                </p>
                <img src="images/elm-breakout-start-screen-full.jpg" alt="start screen for elm breakout game" class="website-full" />
                <img src="images/elm-breakout-playing-full.jpg" alt="game in progress elm breakout game" class="website-full" />
                <p class="link-button-wrapper"><a href="https://robbethencourt.github.io/elm-breakout/build/" target="noopener" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Play Elm Breakout</a></p>
            </div>
        </div>
    </div>
</div>
