<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>elm breakout</h2>
                <p class="article-h2-content">Recreation of the Atari 2600 version of Breakout</p>
                <h5>elm / css</h5>
                <h5>created 2018</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Getting Into Functional Programming</h4>
                <p>This was a fun project. I'd always wanted to create a game, and while this isn't my own game, it's one of my favorite Atari 2600 games. Probably the first game I got good at.</p>
                <p>
                  I'd been writing elm for a little over a year when I started this project.
                </p>
                <img src="images/mold-specialists-website-full.jpg" alt="" class="website-full" />
                <h4>Web</h4>
                <p> The website needed a redesign in regards to the look and the content. A lot of outdated information was removed, what remained was better organized and accessible from the main menu.</p>
                <h4>I Could Have Sworn There Was A Link To&#133;</h4>
                <p>Much of the information on the Mold Specialists website had become outdated, so a new look and content refresh was in order. The layout of the content, and its accessibility also needed to be addressed as there were pages on the previous site that could not be accessed from the main menu. Providing an easily accessible menu to all content on the site was a top priority.</p>
                <h4>Keep It Consistent, Keep It Clean</h4>
                <p>The look of the site was also completely redone. The owners wanted a cleaner look to the site with bright colors. They clean up mold as their business, so they wanted to convey a clean presence on the web to match what they do. A predominately light color pallet with white, blues and light grays was chosen.</p>
            </div>
        </div>
    </div>
</div>
