<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>pilates boutique</h2>
                <p class="article-h2-content">My wife's pilates studio, and the reason I got into online design and development. She uses it to showcase her business and blog about fitness and nutrition.</p>
                <h5>logo / html / css / wordpress</h5>
                <h5>created 2013</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/pilates-boutique-logo-display.jpg" alt="" class="logo-display" />
                <h4>Logo</h4>
                <p>The new logo needed to have a more professional look, as the first one I made her was, well, let's just say it needed a more professional look and leave it at that. So a new typeface was chosen and the flower, which was a part of the original logo, was kept to keep brand consistency.</p>
                <img src="assets/images/pilates-boutique-rwd-displays.jpg" alt="" class="rwd-displays" />
                <h4>Web</h4>
                <p>The Pilates Boutique website needed a responsive redesign, and the content needed better hierarchy.</p>
                <img src="assets/images/pilates-boutique-website-full.jpg" alt="" class="website-full" />   
                <h4>Yes, But Where's The Pricing&#33;</h4>
                <p>The goal of the redesign was to allow visitors easier access the content they were looking for. Whether that was session pricing, or contact info the new site needed to allow users to get to what they wanted quickly, and not have it be buried in drop-down menus.</p>
                <img src="assets/images/pilates-boutique-website-full-private-sessions.jpg" alt="" class="website-full" />
                <h4>Integrating Vine - 2 Reasons</h4>
                <p>Michelle, my wife and the owner of Pilates Boutique, also began using Vine as a way to give clients access to simple pilates moves on their own. She calls it Morning Pilates, and each video is a quick 6 second repetitive clip of an exercise someone can do on their own. The goal is to provide added value to current customers while giving potential customers a glimpse into her teaching. The quick sessions have worked to get potential customers to reach out and purchase pilates sessions.</p>
                <p class="link-button-wrapper"><a href="http://www.pilatesboutiquefl.com/" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Pilates Boutique</a></p>
            </div>
        </div>
    </div>
</div>