<!-- jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>rob
			<br />
			bethencourt</h1>
		<p class="im-rob">// or Robert if you prefer
	    <br />
	    [ designer, developer, enthusiast, business owner ]</p>
	</div>
</div>

<!-- Projects Section -->
<div class="section-heading">
	<div class="container">
        <div class="row">
		    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		        <h2>projects</h2>
		        <p class="article-h2-content">A collection of my design &amp; development work, freelance and personal projects</p>
		    </div>
        </div>
    </div>
</div>

<!-- projects gallery -->
<div class="container">
	<div class="gallery">
        <ul class="gallery-ul clearfix">
						<li><a href="/bubbles">
								<div class="gallery-header">
										<h1>bubbles</h1>
										<p>elm / typescript / css / indexedDB / design</p>
								</div>
								<img src="images/bubbles-gallery.jpg" alt="image of bubbles logo" />
						</a></li>
						<li><a href="/alpha-admin">
								<div class="gallery-header">
										<h1>alpha logistics service - admin</h1>
										<p>html / css / javaScript / elm / coldFusion / design</p>
								</div>
								<img src="images/alpha-logistics-admin-gallery.jpg" alt="Alpha Logistics Service logo" />
						</a></li>
						<li><a href="/elm-breakout">
								<div class="gallery-header">
										<h1>elm breakout</h1>
										<p>elm / css</p>
								</div>
								<img src="images/elm-breakout-gallery.jpg" alt="Image of the elm breakout game screen." />
						</a></li>
						<li><a href="/pilates-boutique">
                <div class="gallery-header">
                    <h1>pilates boutique</h1>
                    <p>html / css / wordpress / design</p>
                </div>
                <img src="images/pilates-boutique-gallery.jpg" alt="Pilates Boutique logo." />
            </a></li>
						<li><a href="/alpha">
                <div class="gallery-header">
                    <h1>alpha logistics service</h1>
                    <p>html / css / design</p>
                </div>
                <img src="images/alpha-logistics-gallery.jpg" alt="Alpha Logistics Service Logo." />
            </a></li>
            <li><a href="/crisiscorps">
                <div class="gallery-header">
                    <h1>crisiscorps</h1>
                    <p>handlebars / css / javaScript / node / mysql / design</p>
                </div>
                <img src="images/crisiscorps-gallery.jpg" alt="Image of the crisiscorps dashboard page." />
            </a></li>
            <li><a href="/hangman">
            	<div class="gallery-header">
                	<h1>hangman</h1>
                	<p>html / css / javaScript / design</p>
            	</div>
            	<img src="images/hangman-gallery.jpg" alt="Image of the hangman game being played." />
            </a></li>
            <li><a href="/trivia">
                <div class="gallery-header">
                    <h1>trivia game</h1>
                    <p>html / css / javaScript / design</p>
                </div>
                <img src="images/trivia-game-gallery-2.jpg" alt="Title screen for trivia game based on short film A Trip to the Moon." />
            </a></li>
            <li><a href="/aniloop">
                <div class="gallery-header">
                    <h1>aniloop</h1>
                    <p>html / css / javaScript / design</p>
                </div>
                <img src="images/aniloop-gallery.jpg" alt="Partial Aniloop logo." />
            </a></li>
            <!-- <li><a href="/rpg">
                <div class="gallery-header">
                    <h1>star wars rpg</h1>
                    <p>html / css / javaScript</p>
                </div>
                <img src="images/rpg-gallery.jpg" alt="Title screen of Star Wars RPG." />
            </a></li> -->
            <li><a href="/rockpaperscissor">
                <div class="gallery-header">
                    <h1>rock paper scissors - multiplayer</h1>
                    <p>html / css / javaScript / firebase / design</p>
                </div>
                <img src="images/rps-gallery.jpg" alt="Title screen for Multiplayer RPS" />
            </a></li>
            <li><a href="/hmsitip">
                <div class="gallery-header">
                    <h1>how much should i tip</h1>
                    <p>html / css / javaScript / design</p>
                </div>
                <img src="images/hmsitip-gallery.jpg" alt="How much should I tip logo." />
            </a></li>
            <li><a href="/amodamx">
                <div class="gallery-header">
                    <h1>amoda mx</h1>
                    <p>html / css / design</p>
                </div>
                <img src="images/amoda-mx-gallery.jpg" alt="Amoda mx logo." />
            </a></li>
            <li><a href="/mandm">
                <div class="gallery-header">
                    <h1>meat deer and mccaughna's bourbon supper</h1>
                    <p>logo / print design</p>
                </div>
                <img src="images/meat-deer-and-mccaughna-gallery.jpg" alt="Meat Deer and McCaugna's Bourbon supper menu." />
            </a></li>
            <li><a href="/flakas">
                <div class="gallery-header">
                    <h1>flakas</h1>
                    <p>logo / print design</p>
                </div>
                <img src="images/flakas-gallery.jpg" alt="Flaka's apron with print design." />
            </a></li>
            <li><a href="/mold-specialists">
                <div class="gallery-header">
                    <h1>mold specialists</h1>
                    <p>html / css / design</p>
                </div>
                <img src="images/mold-specialists-gallery.jpg" alt="Mold Specialists logo." />
            </a></li>
            <li><a href="/rixenus">
                <div class="gallery-header">
                    <h1>rixen us</h1>
                    <p>html / css / design</p>
                </div>
                <img src="images/rixen-us-gallery.jpg" alt="Rixen US logo." />
            </a></li>
        </ul>
    </div>
</div>
