<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>rixen us</h2>
                <p class="article-h2-content">Cable water park development company operating in the US through the rixen brand</p>
                <h5>logo / html / css</h5>
                <h5>created / 2012</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/rixen-us-logo-display.jpg" alt="" class="logo-display" />
                <h4>Logo</h4>
                <p>The logo is a slight adaptation of the current Rixen logo.</p>
                <img src="images/rixen-us-website-full.jpg" alt="" class="website-full" />
                <h4>Web</h4>
                <p>The website needed a redesign and content overhaul. Primary focus was on showcasing the products and how to get started building a cable wake park.</p>
                <h4>Let's Not Reinvent The Wheel</h4>
                <p>The logo is very similar to the current Rixen logo. Being the only allowed Rixen cable park equipment resellers in the United States, it made sense to keep the branding consistent.</p>
                <h4>I Get It, Dude&#133;But Do You Have The Cash?</h4>
                <p>The website needed a complete overhaul as their name changed with the Rixen partnership. The content also needed more of a focus on the products and how to get started building a cable wake park. The previous site was geared towards wakeboarders, while this site needed to be focused on business entrepreneurs with an eye for extreme sports.</p>
                <p class="link-button-wrapper"><a href="http://rixenus.com/" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Rixen US</a></p>
            </div>
        </div>
    </div>
</div>