<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>multiplayer rock paper scissor</h2>
                <p class="article-h2-content">JavaScript app that uses Firebase to create a multiplayer rock paper scissor game with a UI optimized for mobile</p>
                <h5>html / css / javaScript / firebase</h5>
                <h5>Created 2016</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Real-Time Trash Talk</h4>
                <p>Real-time updates through Firebase was the focus of this project. The score needed to be updated in realtime, but so did the ability to talk trash to your opponent. A feature my wife and I tested extensively throughout the development process.</p>
                <div class="iphone-display-2 clearfix">
                    <img src="images/rps-randl-iphone-1.jpg" alt="RPS Multiplayer home screen" />
                    <img src="images/rps-randl-iphone-1.jpg" alt="RPS Multiplayer home screen" />
                    <img src="images/rps-left-iphone-2.jpg" alt="RPS Multiplayer Player 1 screen after name has been entered for player 1" />
                    <img src="images/rps-randl-iphone-1.jpg" alt="RPS Multiplayer home screen" />
                    <img src="images/rps-left-iphone-3.jpg" alt="RPS Multiplayer Player 1 screen after name has been entered for player 2" />
                    <img src="images/rps-right-iphone-3.jpg" alt="RPS Multiplayer Player 2 screen waiting for player 1 to choose rock, paper or scissor" />
                </div>
                <h4>Mobile RPS</h4>
                <p>Playing this on a phone seemed like the best way to enjoy this game. It's got the ability to play in quick spurts and quickly responds with updates through Firebase, both of which seem ideal for mobile gaming.</p>
                <div class="iphone-display-2 clearfix">
                    <img src="images/rps-left-iphone-4.jpg" alt="RPS Multiplayer Player 1 screen after they choose rock, paper or scissor" />
                    <img src="images/rps-right-iphone-4.jpg" alt="RPS Multiplayer Player 2 screen that now has the option to choose rock, paper or scissor" />
                    <img src="images/rps-left-iphone-5.jpg" alt="RPS Multiplayer Player 1 screen showing winner and option to choose rock, paper or scissor" />
                    <img src="images/rps-right-iphone-5.jpg" alt="RPS Multiplayer Player 2 screen showing winner and wiating for Player 1 to begin game again" />
                    <img src="images/rps-left-iphone-6.jpg" alt="RPS Multiplayer Player 1 screen showing the chat function usage" />
                    <img src="images/rps-right-iphone-6.jpg" alt="RPS Multiplayer Player 2 screen showing the chat function usage" />
                </div>
                <p class="link-button-wrapper"><a href="https://robbethencourt.github.io/RPS-Multiplayer/" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Play Multiplayer RPS (better with a friend)</a></p>
            </div>
        </div>
    </div>
</div>