<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>turn based rpg</h2>
                <p class="article-h2-content">Star Wars inspired rpg with an early Final Fantasy 8-bit theme</p>
                <h5>html / css / javaScript</h5>
                <h5>Created 2016</h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>I CSS RPGs</h4>
                <p>I've been playing RPGs for a while, so when we got this assignment my mind immediately turned to my RPG playing youth and tried to recreate the look of 8-bit Final Fantasy with html and css.</p>
                <img src="images/rpg-full-1.jpg" alt="Title screen for my Star Wars RPG." />
                <img src="images/rpg-full-2.jpg" alt="Screen showing each of the four characters." />
                <h4>Objects, No Prototypes</h4>
                <p>I'd recreate this game differently now that I've been introduced to prototypal inheritance, but the purpose was to further our understanding of objects and get experienced with jQuery DOM manipulation, which certainly simplified things syntacticly from writing vanilla JS. I still dig writing pure javaScript, but there's no doubt jQuery can make DOM manipulation easier. (but at what page weight cost)</p>
                <h4>Move Along</h4>
                <p>I had some fun with the dialogue for this game. I tried to imagine the battles I wanted to see but were never in the movies. I added some logic so the characters would say different things depending on who they were fighting and if they were picked to fight by the player as opposed to being the enemy.</p>
                <img src="images/rpg-full-3.jpg" alt="Screen showing some of the dialogue." />
                <img src="images/rpg-full-4.jpg" alt="End screen showing who won." />
                <p class="link-button-wrapper"><a href="https://robbethencourt.github.io/week-4-game/" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Play SW RPG</a></p>
            </div>
        </div>
    </div>
</div>