<!-- About Section -->
<div class="section-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h2>trivia game</h2>
                <p class="article-h2-content">Trivia game based on George Melies' silent film A Trip to the Moon</p>
                <h5>html / css / javaScript / design</h5>
                <h5>Created 2016</h5>
                <h5><a href="https://github.com/robbethencourt/TriviaGame" target="_blank">github (trivia game)</a></h5>
            </div>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Timeout to the Moon</h4>
                <p>The set pieces in Melies' A Trip to the Moon are some of the best in early cinema. Bringing them into the browser seemed like a good way to go through the movie with each correct answer. I used setTimeout to display the timer, and to set the amount of time a correct answer displays.</p>
                <img src="images/trivia-game-full-1.jpg" alt="Title screen for trivia game based on short film A Trip to the Moon." />
                <img src="images/trivia-game-full-2.jpg" alt="One of the questions and corresponding backdrop of rocket on moon with clouds in an animated setting." />
                <h4>Silent !== B&amp;W</h4>
                <p>A little known fact is that silent films were often presented in color. They would be tinted all one color, or as in the case of A Trip to the Moon, had more robust coloring to specific parts of the frame. I took out my Adobe Illustrator skills to make the backgrounds for this, and created a color version of the game if the player gets all questions correct. It also unlocks a link to YouTube to view a color version of the movie.</p>
                <img src="images/trivia-game-full-3.jpg" alt="End game screen showing how many correct and what next options is." />
                <h4>More Trips</h4>
                <p>I'd like to make more of these trivia games based on silent short films. Could be a fun interactive way to raise awareness for early cinema and help debunk some of the myths associated with it. If you can't tell...I'm kind of into movies.</p>
                <img src="images/trivia-game-full-4.jpg" alt="One of the questions and corresponding backdrop of rocket landing back on the water on return to Earth, but this time in color." />
                <p class="link-button-wrapper"><a href="https://robbethencourt.github.io/TriviaGame/" target="_blank" class="btn btn-lg btn-block btn-pink"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> A Trip to the Moon Trivia Game</a></p>
            </div>
        </div>
    </div>
</div>
