<!-- blog post -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
              <h4>So what's R.O.T.O.R. about?</h4>
              <p>
                   It's about some Texan scientist cop hybrid that's forced off his robot cop project when the governor unreasonably moves up the deadline for completion of R.O.T.O.R. from 6 years to 60 days. (the why is immaterial) So R.O.T.O.R. is awakened, breaks out of the lab, gets on his motorcycle, and you get the idea. Think of the movie as a Terminator, Robocop, love child written by a group of your closest 5th grade friends.
              </p>
              <p>
                  The <a href="https://www.youtube.com/watch?v=XJV3qFsaozE" target="_blank">trailer</a> is worth a watch.
              </p>
              <p>
                  And here are some quotes to give you an idea of what to expect, with my interpretation.
              </p>
              <ul class="content-ul">
                  <li>"It can't think twice, can't reason, can't change its prime directive. It's like a chainsaw set on frapp&egrave;." <i>I'm guessing that's the setting on R.O.T.O.R.'s undercarriage.</i></li>
                  <li>"prototype of a future battalion, on the battlefield highways of the future." <i>because the future &mdash; circa 1980s &mdash; was always dusty long stretches of highway full of carnage and fucked up robots.</i></li>
                  <li>"&hellip;we open inroads into tomorrow in ways and means of those who would serve and protect justice and order" <i>I don't have any idea what this is supposed to mean</i></li>
                  <li>"You look like you got both eyes coming out of the same hole" <i>"Supplies!!!"?</i></li>
              </ul>
            </div>
            <div class="col-sm-3">Ths is the aside</div>
        </div>
    </div>
</div>
