<!-- blog -->
<div class="blog">
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
    <p>This is the 2nd blog post</p>
    <p>I'm adding a second line to it!!!</p>
</div>
