<!-- blog post -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
							<p>This is the first blog post, so what is up with that?!?!</p>
            </div>
            {{>asideBlog blogCategories=blogCategories}}
        </div>
    </div>
</div>
